body {
  font-family: helvetica;
  background-color:#cef;
}
div {
  padding: 5px;
}
label {
  border-radius: 5px;
  cursor: pointer;
  padding: 3px 5px;
}
input {
  cursor: pointer;
}
.highlighted label {
  background-color: #fff;
}
